<div id="page-wrapper">
    <div class="row" style="padding-top:50px;">

    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="panel" class="bg-ubiqgreen">
                <div class="panel-heading" style="height:150px;">
                    <div class="col-md-12 text-center">
                        <object type="image/svg+xml" data="assets/ubiq.svg" style="height: 100px;">           
                        </object><br/>
                        <object type="image/svg+xml" data="assets/ubiq_name.svg">           
                        </object>  
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="list-group">

                    {{ partial "index/data_ubiq" }}

                </div>

                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-expanseblue">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:130px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/expanse_logo.png" alt="EXPANSE POOL"  style="height:120px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">

                    {{ partial "index/data_exp" }}

                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-musicorange">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:130px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/musiccoin_logo.png" alt="MUSIC COIN POOL"  style="height:120px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_music" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-etcblue">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:140px;">
                        <div class="col-md-12 text-center">
                        <object type="image/svg+xml" data="assets/pirl.svg" style="height: 100px;">           
                        </object><br/>                       
                        <object type="image/svg+xml" data="assets/pirl_name.svg"  style="height: 25px;">           
                        </object>
                        </div>    
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_pirl" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>        


        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="panel" class="bg-ethgray">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:130px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/ethereum_logo.png" alt="ETHEREUM"  style="height:120px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="list-group">

                    {{ partial "index/data_eth" }}

                </div>

                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-etcblue">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:140px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/etc_clear_sm.png" alt="ETC POOL"  style="height:130px;"/>
                        </div>    
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_etc" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>      

        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-dbixbrown">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:130px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/dubaicoin_logo.png" alt="DUBAI COIN POOL"  style="height:120px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_dbix" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>


        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-soilcolor">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:140px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/soilcoin_full.png" alt="SOIL COIN"  style="height:130px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_soil" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="panel" class="bg-eleblue">
                <div class="panel-heading">
                    <div class="panel-heading" style="height:140px;">
                        <div class="col-md-12 text-center">
                            <img src="assets/elementrem_full.png" alt="ELEMENTREM COIN"  style="height:130px;"/>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_ele" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>

        </div>
    </div>    

</div>