<div id="page-wrapper">
    <div class="row" style="padding-top:50px;">
       
    </div>
    <!-- /.row -->
    <div class="row">
<div class="col-lg-3 col-md-4 col-sm-6">
            <div class="panel" class="bg-ethgray">
                 <div class="panel-heading">
                       <div class="panel-heading" style="height:130px;">
                     <div class="col-md-12 text-center">
                     <img src="assets/ethereum_logo.png" alt="ETHEREUM"  style="height:120px;"/>
                    </div>
                </div>
                </div>
                <!-- /.panel-heading -->
                <div class="list-group">

                {{ partial "index/data_eth" }}
               
                </div>
                
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>
    
    </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="panel" class="bg-ubiqgreen">
                <div class="panel-heading" style="height:150px;">
                    <div class="col-md-12 text-center">
                      <object type="image/svg+xml" data="assets/ubiq.svg" style="height: 100px;">           
                    </object><br/>
                 <object type="image/svg+xml" data="assets/ubiq_name.svg">           
                    </object>  
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="list-group">

                {{ partial "index/data_ubiq" }}
               
                </div>
                
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>
    
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    
     <div class="panel" class="bg-expanseblue">
                <div class="panel-heading">
                       <div class="panel-heading" style="height:130px;">
                     <div class="col-md-12 text-center">
                     <img src="assets/expanse_logo.png" alt="EXPANSE POOL"  style="height:120px;"/>
                    </div>
                </div>
                </div>
                <!-- /.panel-heading -->

               <div class="list-group">

                {{ partial "index/data_exp" }}
               
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>
    
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    
     <div class="panel" class="bg-musicorange">
                <div class="panel-heading">
                       <div class="panel-heading" style="height:130px;">
                     <div class="col-md-12 text-center">
                     <img src="assets/musiccoin_logo.png" alt="MUSIC COIN POOL"  style="height:120px;"/>
                    </div>
                </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                    {{ partial "index/data_music" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>
    
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    
     <div class="panel" class="bg-dbixbrown">
                <div class="panel-heading">
                       <div class="panel-heading" style="height:130px;">
                     <div class="col-md-12 text-center">
                     <img src="assets/dubaicoin_logo.png" alt="DUBAI COIN POOL"  style="height:120px;"/>
                    </div>
                </div>
                </div>
                <!-- /.panel-heading -->

                <div class="list-group">
                     {{ partial "index/data_dbix" }}
                </div>
                <!-- /.list-group -->

                <!-- /.panel-body -->
            </div>
    
</div>
    </div>    

</div>